[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Fred
Type=Application
Comment=M$ registry hive editor
Terminal=false
Exec=fred
Icon=fred
Categories=System;
StartupNotify=true
